/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom CSS below */

@font-face {
    font-family: kiona-regular;
    src: url(./resources/Kiona-Regular.ttf);
}

:root {
	font-family: kiona-regular, 'Poopins', sans-serif;
	box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 25vh 25vh 25vh 25vh 25vh 25vh / 25vw 27.5vw 27.5vw 20vw;
    grid-template-areas: "sidebar header header header"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content";
}

#sidebar {
    grid-area: sidebar;
    padding: 1em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 7vh;
    background-color: blue;
    color: white;
    font-size: 28px;
}

.sidebar-header {
    font-size: 38px;
}

#header {
    grid-area: header;
}

#main-content {
    grid-area: main-content;
    display: grid;
    grid-template: 62.5vh 62.5vh / 27.5vw 27.5vw 20vw;
    grid-template-areas: "projects projects announcements"
    "projects projects trending";
    background-color: lightgray;
    font-size: 28px;
}

#projects {
    grid-area: projects;
}

#projects-header {
    position: absolute;
    padding: 1em;
    padding-top: 2em;
}

#project-grid {
    padding-top: 3em;
    display: grid;
    grid-template: 37.5vh 37.5vh 37.5vh / 27.5vw 27.5vw;
}

.project {
    margin: 1em;
    background-color: white;
}

#announcements {
    grid-area: announcements;
}

#announcements-header {
    position: absolute;
    padding-top: 2em;
}

#announcement-section {
    padding-top: 3em;
}

.announcement {
    margin-top: 1em;
    background-color: white;
}

#trending {
    grid-area: trending;
}

#trending-header {
    position: absolute;
    padding: 1em;
    padding-top: 2em;
}

.trending {
    background-color: white;
    margin-top: 1em;
}