/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom CSS below */

@font-face {
    font-family: kiona-regular;
    src: url(./resources/Kiona-Regular.ttf);
}

:root {
	font-family: kiona-regular, 'Poopins', sans-serif;
	box-sizing: border-box;
}

body {
    display: grid;
    grid-template: repeat(6, 1fr) / 2fr 3fr 3fr 3fr;
    grid-template-areas: "sidebar header header header"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content";
}

#sidebar {
    grid-area: sidebar;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 10.5em;
    height: 95vh;
    background-color: #a1aec0;
    color: black;
    font-size: 28px;
    padding: 1em;
}

#sidebar-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 38px;
    margin-bottom: 1em;
}

#sidebar-img {
    padding-left: 0em;
    height: 75%;
    width: 75%;
}

#sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

li {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

img {
    height: 60%;
    width: 60%;
    padding-left: 0.5em;
}

#header {
    grid-area: header;
    background-color: #f8fafc;
    padding: 1em;
    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

#searchbar {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

input {
    font-size: 20px;
    width: 60%;
    background-color: #e2e8f0;
    height: 1.4em;
    border: none;
    border-radius: 0.5em;
}

#alert {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#username {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
    margin-left: 3em;
}

#name {
    font-size: 36px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: #94a3b8;
    color: white;
    border: none;
    border-radius: 1em;
    font-size: 20px;
    height: 2.5em;
    width: 7em;
}

#main-content {
    grid-area: main-content;
    overflow: auto;
    display: grid;
    grid-template: repeat(2, 1fr) / 3fr 3fr 2fr;
    grid-template-areas: "projects projects announcements"
    "projects projects trending";
    background-color: #e2e8f0;
    font-size: 28px;
}

#projects {
    grid-area: projects;
}

#projects-header {
    position: absolute;
    padding: 1em;
    padding-top: 2em;
}

#project-grid {
    padding-top: 3em;
    display: grid;
    grid-template: repeat(3, 10em) / repeat(2, 1fr);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.25em;
    background-color: white;
    padding: 1.5em;
    border-radius: 0.75em;
    font-size: 18px;
}

.project-title {
    font-size: 26px;
}

.project-bar {
    display: flex;
    justify-content: flex-end;
}

#announcements {
    grid-area: announcements;
}

.update-header {
    position: absolute;
    padding-top: 2em;
}

.update-section {
    margin-top: 4em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: white;
    border-radius: 0.5em;
}

.announcement {
    margin-top: 1em;
    font-size: 16px;
    padding: 1.25em;
}

.announcement-title {
    font-size: 24px;
    padding-bottom: 0.25em;
}

hr {
    margin-left: 1em;
    margin-right: 1em;
    color: #1e293b;
}

#trending {
    grid-area: trending;
}

.trending {
    display: flex;
    margin-top: 1em;
    font-size: 24px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.trending-project {
    font-size: 20px;
}